[pull]
	ff = only
[user]
	name = Luis Osorio
	email = yovendielmundo@gmail.com
[core]
	excludesfile = /Users/luis/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
